<h2>ユーザー情報編集</h2>

<%= form_with(model: @customer, url: admin_customer_path(@customer), local: true, method: :patch, multipart: true) do |f| %>
  <div>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :profile_image, 'Profile Image' %>
    <%= f.file_field :profile_image %>
    <p>Current Image: <%= image_tag @customer.get_profile_image(100,100) %></p>
  </div>
  <div>
    <%= f.submit 'Update Customer' %>
  </div>
<% end %>

