<!-- レイアウト -->
<style>
/* プロフィール編集フォームのスタイル */
.profile-edit-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profile-edit-form .form-group {
  margin-bottom: 20px;
}

.profile-edit-form label {
  font-weight: bold;
}

.profile-edit-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* ファイル選択スタイル */
.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.file-input-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-input-wrapper .file-input-label {
  display: block;
  padding: 10px 15px;
  background-color: #778899;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.file-input-wrapper .file-input-label:hover {
  background-color: #0056b3;
}

/* 保存ボタンスタイル */
.blue-button {
  background-color: #2f6ba1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blue-button:hover {
  background-color: #2f6ba1;
}

.form-control:focus {
  outline: none;
  border-color: #5a6066;
  box-shadow: 0 0 0 2px #5a6066;
}

/* フォームとボタンのホバー時のスタイル */
.file-input-wrapper .file-input-label:hover,
.profile-edit-form .form-control:hover {
  background-color: white;
}
</style>

<h2>プロフィール編集</h2>
<%= form_with model: @customer, url: customer_path, html: { class: "profile-edit-form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, id: "inputEmail", placeholder: "メールアドレス", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :profile_image, "プロフィール画像" %>
    <div class="file-input-wrapper">
      <span class="file-input-label profile-image-button">プロフィール画像を選択</span>
      <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "変更を保存", class: "btn btn-primary blue-button" %>
  </div>
<% end %>

</br></br></br>

<h2>アカウントの削除</h2>

</br>

<p>
  アカウントを削除される際は、以下の注意事項を必ずご確認ください：
</p>
<ul>
  <li>アカウントを削除する際は、参加申請が途中の状態（オーナーに承認も拒否もされていない状態のこと）のスレがないか必ず確認してください。もし参加申請が途中の状態である場合、「参加申請を取り下げる」ボタンを押して、参加申請が途中の状態のスレを完全にない状態にしてから「アカウントを削除する」ボタンを押してください。</li>
  <li>システムの関係上、参加申請が途中の状態で「アカウントを削除する」を押してもアカウントは削除されませんので、ご注意ください。</li>
  <li>アカウントを削除した場合、アカウントのデータは完全に削除され復元はできませんので、よく考えた上でアカウントの削除をお願い致します。</li>
</ul>
<p>
  どうしてもアカウントの削除ができない・方法がわからない場合は、Link→お問い合わせ・プライバシーポリシーに記載してあるメールアドレスに連絡していただければ、こちらで対応致します。
</p>
<%= button_to "アカウントを削除する", customer_path(@customer), data: { confirm: "本当にアカウントを削除しますか？" }, method: :delete, class: "btn btn-danger" %>

