<h2>Followers</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customer.each do |customer| %>
      <tr>
        <td>
          <%= link_to customer_path(customer) do %>
            <%= image_tag customer.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= customer.name %>
        <% if current_customer != customer %>
        <td>
        <% if current_customer.following?(customer) %>
          <%= link_to "フォローを解除", customer_relationships_path(customer), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "フォローバック", customer_relationships_path(customer), method: :post, class: "btn btn-success" %>
        <% end %>
        </td>
        <% else %>
        <td></td>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 