<!-- レイアウト -->
<style>
.profile-image {
    width: 100px;
    height: 90px;
    object-fit: cover; /* アスペクト比を維持しながら正方形に収めるのに便利 */
}

.image-slide-down {
  opacity: 0;
  animation: slideDown 5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>

<h1>いいね一覧</h1>

<% @liked_posts.each do |post_image| %>
  <div class="card mb-3">
    <%= link_to post_image_path(post_image) do %>
      <%= image_tag post_image.get_image, class: "card-img-top image-slide-down" %>
    <% end %>
    <div class="card-body">
      <p class="card-text">ショップ名：<%= post_image.title %></p>
      <p class="card-text">説明：<%= post_image.caption %></p>
      <div class="d-flex align-items-center">
        <%= link_to customer_path(post_image.customer) do %>
          <%= image_tag post_image.customer.get_profile_image(210, 210), class: "rounded image-slide-down profile-image" %>
        <% end %>
        <p class="card-text mb-0"><%= post_image.customer.name %></p>
      </div>
      <p class="card-text">投稿日時：<%= post_image.created_at.strftime('%Y/%m/%d') %></p>
      <% if post_image.customer == current_customer %>
        <%= link_to "削除", post_image_path(post_image), method: :delete, class: "btn btn-danger btn-sm me-2" %>
      <% end %>
      <p>
        <div id="favorites_buttons_<%= post_image.id %>" style="position: relative;">
          <div class="transparent-cover" style="position: absolute; top: 0; left: 1%; width: 80%; height: 100%; pointer-events: auto;"></div>
          <% if post_image.favorited_by?(current_customer) %>
            <%= link_to post_image_favorite_path(post_image), method: :delete, remote: true, class: "favorite-link" do %>
              <span class="favorite-icon">♥</span> <%= post_image.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to post_image_favorite_path(post_image), method: :post, remote: true, class: "favorite-link" do %>
              <span class="favorite-icon">♡</span> <%= post_image.favorites.count %> いいね
            <% end %>
          <% end %>
        </div>
      </p>
    </div>
  </div>
<% end %>
