<!-- レイアウト -->
<style>
.profile-image-profile {
    width: 160px;
    height: 150px;
    object-fit: cover;
}

.new-post-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
}

.button:hover {
  box-shadow   : none;                 /* 影の設定 */
  opacity      : 0.8;                  /* 透明度 */
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>

<!-- ユーザーの詳細 -->
<div>
  <h3><%= @customer.name %></h3>
  <%= image_tag @customer.get_profile_image(300,300), class: "rounded image-slide-down profile-image-profile" %>
  <% if @customer.id == current_customer.id %>
  <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>

<th>Follows</th>
      <td>
        <%= link_to follows_customer_path(@customer) do %>
          <h6><%= @customer.followers.count %></h6>
        <% end %> 
      </td>
      </tr>
      <tr>  
        <th>Followers</th>
        <td>  
          <%= link_to followers_customer_path(@customer) do %>
            <h6><%= @customer.followeds.count %></h6>
          <% end %>
        </td>
      </tr> 
      <tr>
      <td>
      <% if current_customer != @customer %>
          <% if current_customer.following?(@customer) %>
            <%= link_to "フォローを解除", customer_relationships_path(@customer), method: :delete, class: "btn btn-danger" %></br></br>
          <% else %>
            <%= link_to "フォローする", customer_relationships_path(@customer), method: :post, class:"btn btn-success" %></br></br>
          <% end %>
        <% end %>
      </td>
<p><%= link_to 'いいねした投稿一覧', liked_posts_customer_path(@customer) %><p>
<!-- ユーザーの投稿一覧 -->
<%= render 'post_images/list', post_images: @post_images %>

<!-- 新規投稿ボタン（画像） -->
<%= link_to new_post_image_path, class: "new-post-button", id: "newPostButton" do %>
  <%= image_tag "20739.png", class: "button", onclick: "goClick()", width: 130, height: 130, alt: "投稿ボタン" %>
<% end %>
