<% post_images.each do |post_image| %>
  <div class="card mb-3">
    <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.resized_image, class: "card-img-top image-slide-down" %>
    <% end %>
    <div class="card-body">
      <p class="card-text">投稿ユーザー画像：<%= image_tag post_image.customer.get_profile_image(100,100), class: "rounded-circle image-slide-down" %></p>
      <h5 class="card-title"><%= post_image.title %></h5>
      <p class="card-text"><%= post_image.caption %></p>
      <p class="card-text"><%= post_image.customer.name %></p>
      <p class="card-text"><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
    </div>
  </div>
<% end %>