<%= form_with model: @post_image do |f| %>
  <% if @post_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_image.errors.count, "error") %> prohibited this post_image from being saved:</h2>
      <ul>
      <% @post_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>画像投稿フォーム</h1>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :caption %>
  <%= f.submit '投稿' %>
<% end %>

