<!DOCTYPE html>
<html>
  <head>
    <title>MotorChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li class="nav-item">
                <%= link_to 'æŠ•ç¨¿ãƒ•ã‚©ãƒ¼ãƒ ', new_post_image_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', customer_path(current_customer.id), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_customer_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "æ–°è¦ç™»éŒ²", new_customer_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_customer_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <main role="main" class="flex-shrink-0" style="margin-top: 120px;">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    
        <footer>
      <nav class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark">
        <a class="navbar-brand navbar-brand-logo p-3"></a>
        <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span>LinkðŸ”—</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to 'ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼', new_post_image_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ãŠå•ã„åˆã‚ã›', about_path, class: 'nav-link' %>
              </li>
          </ul>
        </div>
      </nav>
    </footer>
    
  </body>
</html>
